<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">
        <img src="/assets/favicon.png" width="30" height="30" class="d-inline-block align-top"
            alt="">
        A Bio-friendly Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/pages/what.html" class="nav-link"><i class="fas fa-info-circle mr-1"></i>What is a
                    Bio-home</a></li>
            <li class="nav-item"><a href="/pages/benefits.html" class="nav-link"><i class="fas fa-check mr-1"></i>Benefits</a>
            </li>
            <li class="nav-item"><a href="/pages/types.html" class="nav-link"><i class="fas fa-igloo mr-1"></i>Types</a></li>
            <li class="nav-item"><a href="/pages/features.html" class="nav-link"><i class="far fa-lightbulb mr-1"></i>Features</a></li>
            <li class="nav-item"><a href="/pages/challenges.html" class="nav-link"><i class="fas fa-exclamation-triangle mr-1"></i>Challenges</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-tools mr-1"></i> Tools </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/pages/selector.html" class="dropdown-item"><i class="fas fa-yin-yang mr-1"></i>Bio-home Type Selector</a>
                    <a href="/pages/predictor.html" class="dropdown-item"><i class="fas fa-chart-line mr-1"></i>Housing Price Predictor</a>
                    <a href="/pages/finder.html" class="dropdown-item"><i class="fas fa-globe-americas mr-1"></i>Architect Locator</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-plus mr-1"></i> More </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/pages/about.html" class="dropdown-item"><i class="fas fa-users mr-1"></i>About Us</a>
                    <a href="/pages/resources.html" class="dropdown-item"><i class="fas fa-clipboard-list mr-1"></i>Resources</a>
                    <a href="/pages/support.html" class="dropdown-item"><i class="fas fa-link mr-1"></i>Support Groups</a>
                </div>
            </li>
        </ul>
    </div>
</nav>